:root {
    --dark-gray-blue: hsl(217, 19%, 24%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--dark-gray-blue);
    color: var(--white);
}

p {
    font-size: 28px;
    color: var(--white);
}

a:link {
    color: var(--white);
}
a:visited {
    color: var(--white);
}
a:hover {
    color: var(--white);
}
a:active {
    color: var(--white);
}
